@import url('https://fonts.googleapis.com/css2?family=family=Raleway:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}
.flex{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.main-content{
    height: 100vh;
}

.main-p{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.inputs{
    width: 30%;
    height: 40px;
    margin: 1.5rem auto 1rem auto;
    display: flex;
    justify-content: space-around;
}
.input{
    height: 100%;
    border-radius: 15px;
    width: 60%;
    border: 1px solid #ccc;
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
.btn{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 20px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition:  all .3s;
}
.btn:hover{
    background-color: #ccc;

}

.input:focus{
    outline: none;
}

.map-iframe{
    width: 40%;
    height: 50%;
    border: none !important;
    border-radius: 15px;
    margin: 1.5rem auto;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    color: #ccc;
    text-align: center;
    width: 100vw;
}
.footer-p{
    line-height: 1.5;
}
.icons{
    background-color: red;
    height: 100%;
    width: 30%;
}
.instagram-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
}