@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
	font-family: "beat";
	src: local("GT-Pressura-Bold"),
	url("./assets/fonts/beat/GT-Pressura-Bold.otf") format("truetype");
}
@font-face {
	font-family: "didi";
	src: local("Aspira-Wide-Bold"),
	url("./assets/fonts/didi/Aspira-Wide-Bold.otf") format("truetype");
}
@font-face {
	font-family: "cabify";
	src: local("CabifyCircularWeb-Bold"),
	url("./assets/fonts/cabi/CabifyCircularWeb-Bold.otf") format("truetype");
}
@font-face {
	font-family: "uber";
	src: local("UberMoveBold"),
	url("./assets/fonts/uber/UberMoveBold.otf") format("truetype");
}

@font-face {
  font-family: 'ITC-Kabel';
  src: local('ITC Kabel'), url('./assets/fonts/itc-kabel/ITCKabelStdMedium.TTF') format('truetype');
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  margin: 0;
  display: block;
  background-color: #2E2F47 !important;
  font-family: 'Montserrat', sans-serif;
}

.font-kabel {
  font-family: 'ITC-Kabel';
}

.bg-ocean-blue-800 {
  background-color: #2E2F47 !important;
}

.bg-ocean-blue-700 {
  background-color: #383951 !important;
}

.bg-ocean-blue-600 {
  background-color: #41425A !important;
}

.bg-light-pink {
  background-color: #ECC4B7 !important;
}

.text-light-pink {
  color: #ECC4B7 !important;
}

.text-whiteish {
  color: #eee !important;
}

.oculto{
  animation: hide .3s ease;
  animation-fill-mode: forwards;
}

.mostrado{
  animation: show .3s ease;
  animation-fill-mode: forwards;
}

.arriba{
  animation: arriba .3s ease;
  animation-fill-mode: forwards;
}

.abajo{
  animation: abajo .3s ease;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from { opacity: 1;} 
  to { opacity: 0;
  }
}

@keyframes show {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes arriba {
  from { transform: auto}
  to { transform: translateY(-40%);}
}

@keyframes abajo {
  from { transform: translateY(-40%)}
  to { transform: translateY(0%);}
}

.text-ocean-blue-800 {
  color: #2E2F47 !important;
}

.bg-beat {
  background-color: #23D2AB !important;
}

.bg-cabify {
  background-color: #7145D6 !important;
}

.bg-didi {
  background-color: #FF7E3C !important;
}

.bg-uber {
  background-color: #000000 !important;
}


.ReactModal__Overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5) !important;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1 !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0 !important;
}

.modalContainer{
  width: 90%;
  border-radius: 24px;
  background-color: #2E2F47;
  z-index: 2;
  transition: opacity 2000ms ease-in-out;
}